<mat-card class="title-card">
  <mat-card-header>
    <mat-card-title><i class="fas fa-id-badge size-icon-title"></i>Perfiles Psicológicos</mat-card-title>
  </mat-card-header>
</mat-card>
<mat-card class="body-card">
  <mat-card-content>
    <div *ngIf="getListPPAlumno; else vacio">
      <div *ngIf="banderaContenido; else contenidoVacio">
<!--        <div class="bg-instrucciones-ep">-->
<!--          <div class="row">-->
<!--            <div class="col-sm-12 box-ep">-->
<!--              <div class="box-text-ep">-->
<!--                <i class="fas fa-exclamation-triangle icon-excla-ep"></i>-->
<!--                <span class="text-instrucciones-ep">Presione el botón </span>-->
<!--                <button class="icon-instrucciones-ep" mat-flat-button>-->
<!--                  <i class="fas fa-eye"></i>-->
<!--                </button>-->
<!--                <span class="text-instrucciones-ep">, para visualizar los detalles de un perfil psicológico.</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
        <div class="row">
          <div class="col-sm-12">
<!--            <div class="search__input">-->
<!--              <mat-form-field class="width-full">-->
<!--                <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Buscar">-->
<!--              </mat-form-field>-->
<!--            </div>-->
          </div>
          <div class="col-sm-12 tabla-style">
            <div *ngIf="getListPPAlumno; else Loading">
              <div class="table-container">
                <table [dataSource]="dataSource" class="table-rwd mat-elevation-0"
                       mat-table>
                  <ng-container matColumnDef="anho">
                    <th *matHeaderCellDef class="table-th" mat-header-cell>Ciclo</th>
                    <td *matCellDef="let element" class="table-td"
                        mat-cell>
                      <div *ngIf="element.recomendacion=='--'; else rrealizo" class="no-realizo">
                        {{element.anho +'-'+element.semestre}}
                      </div>
                      <ng-template #rrealizo class="realizo">
                        {{element.anho +'-'+element.semestre}}
                      </ng-template>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="fecharecomendacion">
                    <th *matHeaderCellDef class="table-th table-th-td-preguntas-style"
                        mat-header-cell>
                      Fecha y hora Recomendado
                    </th>
                    <td *matCellDef="let element" class="table-td table-th-td-preguntas-style"
                        mat-cell>{{element.fecha_recomendacion.fecha + ' '+element.fecha_recomendacion.hora}}</td>
                  </ng-container>
                  <ng-container matColumnDef="fecharesuelto">
                    <th *matHeaderCellDef class="table-th table-th-td-preguntas-style"
                        mat-header-cell>
                      Fecha y hora Resuelto
                    </th>
                    <td *matCellDef="let element" class="table-td table-th-td-preguntas-style"
                        mat-cell>{{element.fecha_resuelto.fecha+' '+element.fecha_resuelto.hora}}</td>
                  </ng-container>
<!--                  <ng-container matColumnDef="acciones">-->
<!--                    <th *matHeaderCellDef class="table-th table-th-td-accion-style" mat-header-cell>-->
<!--                      Acción-->
<!--                    </th>-->
<!--                    <td *matCellDef="let element" class="table-td table-th-td-accion-style"-->
<!--                        mat-cell>-->
<!--                      <button (click)="openDialogPerfil(element.id_perfil_psico)"-->
<!--                              class="table-detalles-icon" mat-flat-button>-->
<!--                        <i class="fas fa-eye"></i></button>-->
<!--                    </td>-->
<!--                  </ng-container>-->
                  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </div>
            </div>
            <ng-template #Loading>
              <div class="mat-span-style">
                <mat-spinner class="spinner-style-item" diameter="40"></mat-spinner>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <ng-template #contenidoVacio>
        <div class="bg-instrucciones-ep">
          <div class="row">
            <div class="col-sm-12 box-ep">
              <div class="box-text-ep">
                <i class="far fa-thumbs-up icon-excla-ep"></i>
                <span class="text-no-ep">No tiene perfiles psicológicas.</span>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
    <ng-template #vacio>
      <div class="mat-span-style">
        <mat-spinner class="spinner-style-item" diameter="40"></mat-spinner>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
