<h1 mat-dialog-title> <i class="fas fa-money-check"></i> Modificar Datos</h1>
<mat-divider></mat-divider>
<div mat-dialog-content class="flex">
  <mat-form-field>
    <p>Digite su correo alternativo</p>
    <input matInput [(ngModel)]="data.correo">
  </mat-form-field>
  <mat-form-field>
    <p>Digite la ruta de su Facebook</p>
    <input matInput [(ngModel)]="data.facebook">
  </mat-form-field>
  <mat-form-field>
    <p>Digite su numero de celular</p>
    <input matInput [(ngModel)]="data.celular">
  </mat-form-field>
  <mat-form-field>
    <p>Digite su numero de whatsapp</p>
    <input matInput [(ngModel)]="data.wsp">
  </mat-form-field>
  <mat-form-field>
    <p>Digite una autodescripcion</p>
    <textarea class="autodescripcion" matInput [(ngModel)]="data.auto_descripcion"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]= 'data' cdkFocusInitial>Ok</button>
</div>