.title-card{
    margin: 10px;
    -webkit-box-shadow: none;
    /*background-color: #3558A8;*/
    /*border-color: #3558A8;*/
    color: #464457;
    font-weight: bold;
    text-transform: uppercase;
    /*background-image: url("~src/assets/titlecard/bgtitle.svg");*/
}
.size-icon-title{
    padding: 10px 20px 10px 0px;
    height: 20px;
    width: 30px;
    font-size: 20px;
    text-align: center;
}
.body-card{
    margin: 10px;
    -webkit-box-shadow: none;
}
.image-size{
    width: 250px;
    height: 250px;
    border-radius:150px;
}
.flex-avatar-style{
    display: flex;
    justify-content: center;
}
.flex-items-style{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.flex-text-title{
    display: flex;
    justify-content: left;
}
.text-title-content{
    font-size: 14px;
    color: #464457;
    margin: 5px;
    font-weight: bold;
}
.text-subtitle-content{
    font-size: 14px;
    color: #6c7293;
    margin: 5px;
    font-weight: normal;
}
.barrita{
    border-left : 2.5pt ridge  #5d78ff;
    color: #5d78ff;
    margin-top: 10px;
}
.flex-button{
    margin-top: 10px;
    display: flex;
    justify-content: right;
}
.button-style{
    background: #5867dd;
    color: #ffffff;
    font-weight: bold;
}
.icon-style{
    margin: 5px;
}
.sobre-mi-card{
    margin: 10px;
    -webkit-box-shadow: none;
    /*background-color: #3558A8;*/
    /*border-color: #3558A8;*/
    color: #464457;
    font-weight: bold;
    text-transform: uppercase;
    /*background-image: url("~src/assets/titlecard/bgtitle.svg");*/
}
.text-type{
    text-transform: none;
}
.facebook-btn{
    background: #5867dd;
}
.icon-facebook-btn{
    color: #ffffff;
}
.wsp-btn{
    background: #0abb87;
}
.icon-wsp-btn{
    color: #ffffff;
}
.style-title{
    color: #464457;
}
.style-text{
    color: #6c7293;
}
.size-icon-title{
    padding: 10px 20px 10px 0px;
    height: 20px;
    width: 30px;
    font-size: 20px;
    text-align: center;
}

mat-grid-tile {
    background: lightblue;
}
.title-card{
    margin: 10px;
    -webkit-box-shadow: none;
    /*background-color: #3558A8;*/
    /*border-color: #3558A8;*/
    color: #152343;
    font-weight: bold;
    text-transform: uppercase;
    /*background-image: url("~src/assets/titlecard/bgtitle.svg");*/
}


.body-card{
    margin: 10px;
    -webkit-box-shadow: none;
}

.flex-title{
    display: flex;
    justify-content: space-around;
}

.select-g-a{
    width: 100%;
}
.ps-bar-title{
    color: #6c7293;
    display: flex;
    justify-content: space-between;
    background: #f7f8fa;
    height: 50px;
    align-items: center;
    text-transform: uppercase;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    margin-top: 5px;
    border-left : 2.5pt solid  #e2e5ec;
}
.spinner-style{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.spinner-style-item{
    padding: 5px;
}
/* TABLA*/
/*table {*/
/*width: 100%;*/
/*}*/
.table-container{
    overflow-x: auto;
}
.table-rwd {
    width: 100%;
}
.table-th {
    /*background-color: #152343;*/
    /*color: #ffffff;*/
    font-size: 15px;
    /*text-align: center;*/
}
.table-td {
    /*text-align: center;*/
}
.table-detalles-icon {
    color: #ffffff;
    background-color: #0abb87;
}
.mat-span-style{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.ps-text-title{
    font-weight: bold;
    font-size: 15px;
    margin-left: 15px;
}
.ps-date-title{
    color: #282a3c;
    display: flex;
    justify-content: center;
    align-items: center;
    /*text-transform: uppercase;*/
    margin-right: 10px;
}
.ps-date-subtitle{
    margin: 15px;
    color: #6c7293;
    font-weight: bold;
}
.ps-date-sub-subtitle{
    font-weight: bold;
    color: #fd397a !important;
}
/*.ps-date-title{*/
/*color: #ffffff;*/
/*display: flex;*/
/*justify-content: center;*/
/*background: #fd397a;*/
/*height: 40px;*/
/*align-items: center;*/
/*text-transform: uppercase;*/
/*border-radius:3px;*/
/*-moz-border-radius:3px;*/
/*-webkit-border-radius:3px;*/
/*margin-right: 10px;*/
/*}*/

.table-th-td-accion-style{
    text-align: end;
}

.table-th-td-preguntas-style{
    text-align: center;
}
.bg-instrucciones-ep{
    background: #f7f8fa;
    border-left : 2.5pt solid  #e2e5ec;
    color: #6c7293;
    margin-bottom: 10px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
.text-instrucciones-ep{
    margin: 10px;
    /*text-transform: uppercase;*/
    font-size: 14px;
}
.icon-instrucciones-ep{
    color: #ffffff;
    background-color: #0abb87;
    margin: 10px 5px;
}
.icon-no-culminados-ep{
    color: #ffffff;
    background-color: #fd397a;
    margin: 10px 5px;
}
.icon-excla-ep{
    color: #6c7293;
    font-size: 20px;
}
.box-ep{
    margin: 10px 0px;
}
.box-text-ep{
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
}
.text-no-ep{
    margin-left: 10px;
    /*text-transform: uppercase;*/
    font-size: 14px;
    font-weight: bold;
}
.tabla-style{
    margin-bottom: 15px;
}

.width-full{
    width: 100%;
}
.search__input{
    margin: 10px;
}
.observado{
    color: #ffb822;
    font-weight: bold;
    margin: 5px;
    padding: 10px 4px;
}
.regular{
    color: #0abb87;
    font-weight: bold;
    margin: 5px;
    padding: 10px 4px;
}
.no-realizo{
    color: #fd397a;
}
.realizo{
    /*color: blue;*/
}
