<div mat-dialog-title class="title-style">
    <i class="fas fa-edit"></i>
    Actualizar Datos
</div>

<div mat-dialog-content>
    <div class="row">
        <div class="col-sm-12">
            <mat-form-field class="expand-style">
                <input [formControl]="email" required class="text-style" type="email" matInput placeholder="Correo alternativo" [(ngModel)]="data.correoAlternativo">
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <mat-form-field class="expand-style">
                <input class="text-style" type="text" matInput placeholder="URL Facebook" [(ngModel)]="data.facebook">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <mat-form-field class="expand-style">
                <input #cel maxlength="9" class="text-style" type="text" matInput placeholder="Celular" [(ngModel)]="data.celular">
                <mat-hint align="end">{{cel.value?.length || 0}}/9</mat-hint>
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field class="expand-style">
                <input #wsp maxlength="9" class="text-style" type="text" matInput placeholder="Whatsapp" [(ngModel)]="data.wsp">
                <mat-hint align="end">{{wsp.value?.length || 0}}/9</mat-hint>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <mat-form-field class="expand-style" hintLabel="Máximo 120 caracteres.">
                <textarea #input maxlength="120" class="text-style" matInput placeholder="Autodescripcion"
                          [(ngModel)]="data.auto_descripcion"></textarea>
                <mat-hint align="end">{{input.value?.length || 0}}/120</mat-hint>
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-actions class="button-dialog-style">
    <button class="close-button" mat-button (click)="onNoClick()">Cancelar</button>
    <button class="send-button" mat-button [mat-dialog-close]='data'>Actualizar</button>
</div>
