.title-style{
    color: #ffffff;
    display: flex;
    justify-content: center;
    background: #5d78ff;
    height: 80px;
    align-items: center;
    text-transform: uppercase;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
.text-title-style{
    margin: 3px;
    text-align: center;
}
.select-g-a{
    width: 100%;
}
.flex-button{
    margin-top: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
}
.send-button{
    background: #0abb87;
    color: #ffff;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 10px;
}
.close-button{
    /*background: #23272b;*/
    color: #282a3c;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
}
.style-datos{
    font-weight: bold;
}
.text-style{
    color: #444445;
    font-size: 13px;
}
.date-style{
    font-size: 16px;
    color: #fd397a;
}
.chips-style{
    background: #fd397a;
    color: #ffffff;
}
.chips-style-x{
    color: #ffffff !important;
    font-size: 18px;
}
.bg-dato-alumno{
    background: #f7f8fa;
    margin: 5px;
    border-left : 2.5pt solid  #e2e5ec;
    color: #6c7293;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
.text-dato-alumno{
    margin: 10px 5px 5px 10px;
}
.chip-dato-alumno{
    background: #5d78ff;
    color: #ffffff;
    margin-left: 10px;
}
.title-dato-alumno{
    font-weight: bold;
}
.chip-observado-alumno{
    background: #ffb822;
    color: #ffffff;
    margin-left: 10px;
}
