
.size-icon-title{
    padding: 10px 20px 10px 0px;
    height: 20px;
    width: 30px;
    font-size: 20px;
    text-align: center;
}

mat-grid-tile {
    background: lightblue;
}
.title-card{
    margin: 10px;
    -webkit-box-shadow: none;
    /*background-color: #3558A8;*/
    /*border-color: #3558A8;*/
    color: #464457;
    font-weight: bold;
    text-transform: uppercase;
    /*background-image: url("~src/assets/titlecard/bgtitle.svg");*/
}

.body-card{
    margin: 10px;
    -webkit-box-shadow: none;
}


.select-g-a{
    width: 100%;
}


.div-btn-expa{
    background-color: #5867dd;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
}

/* TABLA*/
/*table {*/
    /*width: 100%;*/
/*}*/
.table-container{
    overflow-x: auto;
}
.table-rwd {
    width: 100%;
}
.table-th {
    /*background-color: #152343;*/
    /*color: #ffffff;*/
    font-size: 15px;
    /*text-align: center;*/
}
.table-td {
    /*text-align: center;*/
}
.table-detalles-icon {
    color: #ffffff;
    background-color: #0abb87;
}
/* FIN TABLA*/
.spinner-style{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.spinner-style-item{
    padding: 5px;
}
.div-btn-psr{
    background-color: #fd397a;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
}

.div-btn-psnr{
    background-color: #282a3c;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
}
.flex-buton-perfiles{
    display: flex;
    justify-content: center;
}
.mat-span-style{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
