<mat-card class="title-card">
    <mat-card-header>
        <mat-card-title><i class="fas fa-file-contract size-icon-title"></i>Perfiles Psicológicos No Culminados
        </mat-card-title>
    </mat-card-header>
</mat-card>

<mat-card class="body-card">
    <mat-card-content>
        <div *ngIf="getListPNCUnayoe; else vacio">
            <div *ngIf="banderaContenido; else contenidoVacio">
                <div class="bg-instrucciones-ep">
                    <div class="row">
                        <div class="col-sm-12 box-ep">
                            <div class="box-text-ep">
                                <i class="fas fa-exclamation-triangle icon-excla-ep"></i>
                                <span class="text-instrucciones-ep">Presione el botón </span>
                                <button class="icon-instrucciones-ep" mat-flat-button>
                                    <i class="fas fa-eye"></i>
                                </button>
                                <span class="text-instrucciones-ep">, para responder un perfil psicológico.</span>
                            </div>
                        </div>
                        <div class="col-sm-12 box-ep">
                            <div class="box-text-ep">
                                <i class="fas fa-exclamation-triangle icon-excla-ep"></i>
                                <span class="text-instrucciones-ep">Presione el botón </span>
                                <button class="icon-mensajes-ep" mat-flat-button>
                                    <i class="fas fa-envelope-open-text"></i>
                                </button>
                                <span class="text-instrucciones-ep">, para enviar un recordario a su correo electrónico del alumno.</span>
                            </div>
                        </div>
                        <div class="col-sm-12 box-ep">
                            <div class="box-text-ep">
                                <i class="fas fa-exclamation-triangle icon-excla-ep"></i>
                                <span class="text-instrucciones-ep">Presione el botón </span>
                                <button class="icon-eliminar-ep" mat-flat-button>
                                    <i class="fas fa-times"></i>
                                </button>
                                <span class="text-instrucciones-ep">, para finalizar un perfil psicológico.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ps-bar-title">
                            <div class="ps-date-title">
                                <div class="ps-date-subtitle">Semestre {{getListPNCUnayoe.anho}}
                                    -{{getListPNCUnayoe.semestre}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="search__input">
                            <mat-form-field class="width-full">
                                <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Buscar">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-sm-12 tabla-style">
                        <div *ngIf="getArrayPerfilesUnayoe; else Loading">
                            <div class="table-container">
                                <table [dataSource]="dataSource" class="table-rwd mat-elevation-0"
                                       mat-table>
                                    <ng-container matColumnDef="codigo">
                                        <th *matHeaderCellDef class="table-th" mat-header-cell>Código</th>
                                        <td *matCellDef="let element" class="table-td"
                                            mat-cell> {{element.codigo}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="apellidosNombres">
                                        <th *matHeaderCellDef class="table-th table-th-td-preguntas-style"
                                            mat-header-cell>
                                            Apellidos y Nombres
                                        </th>
                                        <td *matCellDef="let element" class="table-td table-th-td-preguntas-style"
                                            mat-cell>{{element.nombre}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="escuela">
                                        <th *matHeaderCellDef class="table-th table-th-td-preguntas-style"
                                            mat-header-cell>
                                            Escuela
                                        </th>
                                        <td *matCellDef="let element" class="table-td table-th-td-preguntas-style"
                                            mat-cell>{{element.escuela}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="situacion">
                                        <th *matHeaderCellDef class="table-th table-th-td-preguntas-style"
                                            mat-header-cell>
                                            Situación
                                        </th>
                                        <td *matCellDef="let element" class="table-td table-th-td-preguntas-style"
                                            mat-cell>
                                            <span [ngClass]="{'observado': element.situacion=='O', 'regular':element.situacion=='R'}">
                                                {{convertirSituacion(element.situacion)}}
                                            </span>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="acciones">
                                        <th *matHeaderCellDef class="table-th table-th-td-accion-style" mat-header-cell>
                                            Acciones
                                        </th>
                                        <td *matCellDef="let element" class="table-td table-th-td-accion-style"
                                            mat-cell>

                                            <div>
                                                <button (click)="openDialogPerfil(element.id_perfil_psico)"
                                                        class="table-detalles-icon icon-instrucciones-ep"
                                                        mat-flat-button>
                                                    <i class="fas fa-eye"></i>
                                                </button>
                                                <button (click)="openDialogPerfil(element.id_perfil_psico)"
                                                        class="table-detalles-icon icon-mensajes-ep" mat-flat-button>
                                                    <i class="fas fa-envelope-open-text"></i>
                                                </button>
                                                <button (click)="finalizarPerfilPsicologicos(element.id_perfil_psico)"
                                                        class="table-detalles-icon icon-eliminar-ep" mat-flat-button>
                                                    <i class="fas fa-times"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </ng-container>
                                    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                                    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                            </div>
                        </div>
                        <ng-template #Loading>
                            <div class="mat-span-style">
                                <mat-spinner class="spinner-style-item" diameter="40"></mat-spinner>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <ng-template #contenidoVacio>
                <div class="bg-instrucciones-ep">
                    <div class="row">
                        <div class="col-sm-12 box-ep">
                            <div class="box-text-ep">
                                <i class="far fa-thumbs-up icon-excla-ep"></i>
                                <span class="text-no-ep">No tiene perfiles psicológicas no culminados.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
        <ng-template #vacio>
            <div class="mat-span-style">
                <mat-spinner class="spinner-style-item" diameter="40"></mat-spinner>
            </div>
        </ng-template>
    </mat-card-content>
</mat-card>
