.sayoe-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sayoe-is-mobile .sayoe-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

.style-toolbar{
    background: #152343;
    color: #ffffff;
}

.sayoe-spacer {
    flex: 1 1 auto;
}

.size-icon-title-perfil{
    font-size: 30px;
    text-align: center;
}

.size-icon-title-perfil-item{
    padding: 10px 10px 10px 0px;
    height: 20px;
    width: 30px;
    font-size: 20px;
    text-align: center;
}

h1.sayoe-app-name {
    margin-left: 8px;
}

.sayoe-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.sayoe-is-mobile .sayoe-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

.size-icon-title{
    font-size: 20px;
}

.size-icon-sidebar{
    padding: 0px 35px 10px 0px;
    height: 20px;
    width: 30px;
    font-size: 20px;
    text-align: center;
}
