<mat-form-field class="example-chip-list">
  <mat-chip-list #chipList aria-label="Fruit selection">
    <mat-chip
            *ngFor="let test of tests"
            [selectable]="selectableEvalPsi"
            [removable]="removableEvalPsi"
            (removed)="removeTest(test)">
      {{test}}
      <i matChipRemove *ngIf="removableEvalPsi" class="fas fa-times-circle"></i>
    </mat-chip>
    <input
            placeholder="Seleccione una Evaluación Psicológica"
            #testInput
            [formControl]="testCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlurEvalPsi"
            (matChipInputTokenEnd)="addTest($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTest($event)">
    <mat-option *ngFor="let test of filteredTests | async" [value]="test">
      {{test}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
