<h1 class="flex-vertical title" mat-dialog-title>
    <img class="imagen" src="../../../../assets/add-friend.png" alt="ADD">
    <h1>Agregar Psicólogo</h1>
</h1>
<mat-divider></mat-divider>
<div mat-dialog-content class="flex">
    <div class="fila">
        <mat-form-field>
            <input matInput [(ngModel)]="data.apellido_paterno" placeholder="Apellido Paterno" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="data.apellido_materno" placeholder="Apellido Materno" v>
        </mat-form-field>
    </div>
    <mat-form-field>
        <input matInput [(ngModel)]="data.nombre" placeholder="Nombres" required>
    </mat-form-field>
    <div class="fila">
        <mat-form-field>
            <input matInput [(ngModel)]="data.profesion" placeholder="Profesión" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="data.celular" placeholder="Celular" required>
        </mat-form-field>
    </div>
    <mat-form-field>
        <input matInput [(ngModel)]="data.correoPrincipal" placeholder="Correo Principal" required>
    </mat-form-field>
    <mat-form-field>
        <mat-select [(ngModel)]="data.sexo" placeholder="Sexo" required>
            <mat-option value="0">Masculino</mat-option>
            <mat-option value="1">Femenino</mat-option>
            <mat-option value="2">Otro</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="data.contrasenha" placeholder="Contraseña" required>
    </mat-form-field>
</div>
<div mat-dialog-actions class="botones">
    <button class="agregar" mat-button [mat-dialog-close]='data' cdkFocusInitial>Agregar</button>
    <button class="cancelar" mat-button (click)="onNoClick()">Cancelar</button>
</div>
