<div class="sayoe-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="style-toolbar sayoe-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><i class="fas fa-bars size-icon-title"></i></button>
    <h1 class="sayoe-app-name">SAYOE</h1>
    <span class="sayoe-spacer"></span>

    <button mat-button [matMenuTriggerFor]="menu"><span class="avatarNombre">{{alumno.nombre}} |</span>
      <img src='{{alumno.foto}}' class='avatarRedondo' />
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item routerLink="mi-perfil"><i class="fas fa-user-circle size-icon-title-perfil-item"></i>Mi Perfil</button>
      <button mat-menu-item (click)="logout()"><i class="fas fa-sign-out-alt size-icon-title-perfil-item"></i>Cerrar Sesión</button>
    </mat-menu>
  </mat-toolbar>

  <div class="barra-color"></div>

  <mat-sidenav-container class="sayoe-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
    <mat-sidenav class="barra-lateral-estilo" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item class="barra-lateral-texto-estilo" routerLink="{{item.route}}" *ngFor="let item of itemSecciones">
          <div><i class="{{item.icon}} size-icon-sidebar"></i>{{item.title}}</div>
        </a>
        <a mat-list-item class="barra-lateral-texto-estilo" (click)="logout()">
          <i class="fas fa-sign-out-alt size-icon-sidebar"></i>Cerrar Sesión
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <!--<p *ngFor="let content of fillerContent">{{content}}</p>-->
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
